[Unit]
Description=Listen for headphone jack events on Google Pixelbook (eve)
After=audio.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=cras
Group=cras
ExecStart=/usr/local/bin/eve-audio-ctl.py -o headphone -i internal_mic -j

[Install]
WantedBy=multi-user.target
