
module eve-bluetooth 1.0;

require {
	type bluetooth_var_lib_t;
	type init_t;
	class socket { bind create getattr getopt listen read setopt write };
	class file { open read };
}

#============= init_t ==============

#!!!! This avc is allowed in the current policy
allow init_t bluetooth_var_lib_t:file { open read };

#!!!! This avc is allowed in the current policy
allow init_t self:socket { bind create getattr getopt listen read setopt write };
